<!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="UTF-8">
                    <meta http-equiv="X-UA-Compatible" content="IE=edge">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                            <title>Document</title>
                            <script name="graphics-data-definition" type="application/json+gdd">
    {"$schema": "https://superflytv.github.io/GraphicsDataDefinition/gdd-meta-schema/v1/schema.json",
    "designerSoftware":"RCC",
    "type": "object",
    "properties": {}
  }
  </script>
  <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    window.gddSchema = JSON.parse(document.querySelector('head > script[name="graphics-data-definition"]').innerHTML);
  });
</script>

                            <link rel="stylesheet" href="main.css">
                                <link rel="stylesheet" href="main2.css">
                                </head>
                                <body>
                                    <script>
                                        document.body.addEventListener('keypress', function(e) {
                if(e.key.toUpperCase() === "S") {stop(); }
              });
                                        if (screen.colorDepth === 0) {
                var css = '[id^=ccg] {display: none; }',
                                        head = document.head || document.getElementsByTagName('head')[0],
                                        style = document.createElement('style');
                                        head.appendChild(style);
                                        style.type = 'text/css';
                                        if (style.styleSheet) {
                                            // This is required for IE8 and below.
                                            style.styleSheet.cssText = css;
                } else {
                                            style.appendChild(document.createTextNode(css));
                }
            }

                                        const elementToObserve = document.body;
            const observer = new MutationObserver(() => {
                                            document.body.style.margin = '0';
                                        document.body.style.padding = '0';
                                        document.body.style.overflow = 'hidden';
                                        var aa = document.getElementsByTagName('div')[0];
                                        aa.style.zoom=(192000/1920)+'%';
                                        observer.disconnect();
            });
                                        observer.observe(elementToObserve, {subtree: true, childList: true })

                                        var dataCaspar = { };

                                        function escapeHtml(unsafe) {
            return unsafe.replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;").replace(/'/g, "&#039;");
            }

                                    // Parse templateData into a JSON/XML object or URL params
                                    function parseCaspar(str) {
                                        dataCaspar = {};
                                        try {
                                            const urlParams = new URLSearchParams(window.location.search);
                                            urlParams.forEach((val, key) => {
                                                dataCaspar[key] = val;
                                            });
                                        } catch(e) {}

                                        if (!str) return;

                                        if (typeof str === 'object') {
                                            dataCaspar = Object.assign(dataCaspar, str);
                                            return;
                                        }

                                        if (typeof str === 'string') {
                                            var trimmed = str.trim();
                                            if (trimmed.startsWith('{') || trimmed.startsWith('[')) {
                                                try {
                                                    var jsonParsed = JSON.parse(trimmed);
                                                    dataCaspar = Object.assign(dataCaspar, jsonParsed);
                                                    return;
                                                } catch (e) {}
                                            }

                                            try {
                                                var xmlDoc;
                                                if (window.DOMParser) {
                                                    var parser = new DOMParser();
                                                    xmlDoc = parser.parseFromString(trimmed, "text/xml");
                                                    if (xmlDoc && xmlDoc.documentElement && xmlDoc.documentElement.nodeName !== 'parsererror' && xmlDoc.documentElement.childNodes.length > 0) {
                                                        var xmlJson = XML2JSON(xmlDoc.documentElement.childNodes);
                                                        dataCaspar = Object.assign(dataCaspar, xmlJson);
                                                        return;
                                                    }
                                                }
                                            } catch (e) {}

                                            dataCaspar['f0'] = trimmed;
                                        }
                                    }


                                    // Make the XML templateData message into a more simple key:value object
                                    function XML2JSON(node) {
            var data = { }; // resulting object
                                    for (k = 0; k < node.length; k++) {
            var idCaspar = node[k].getAttribute("id");
                                    var valCaspar = node[k].childNodes[0].getAttribute("value");
                                    if (idCaspar != undefined && valCaspar != undefined) {
                                        data[idCaspar] = valCaspar;
            };
            }
                                    return data;
            }

                                    // Main function to insert data
                                    function dataInsert(dataCaspar) {
                                      for (var idCaspar in dataCaspar) {
                                          var idTemplate = document.getElementById(idCaspar);
                                          if (idTemplate != undefined) {
                                              var idtext = idTemplate.getElementsByTagName('text')[0];
                                              var idimage = idTemplate.getElementsByTagName('image')[0];
                          
                                              if (idtext != undefined) {
                                                  const lines =idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('lines');
                                                  if (lines === '1') {
                                                      idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].innerHTML = escapeHtml(dataCaspar[idCaspar]);
                                                      idTemplate.style.display = "block";
                                                      if (idTemplate.getElementsByTagName('extraproperty')[0] != undefined) {
                                                          var textalign1 = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('textalign');
                                                          var width1 = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('width');
                                                          var originalFontSize = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('originalfontsize');
                                                          if (textalign1 == 'center') {
                                                              idTemplate.getElementsByTagName('text')[0].setAttribute('xml:space', 'preserve1');
                                                              idTemplate.getElementsByTagName('text')[0].style.whiteSpace = "normal";
                                                              idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].setAttribute('x', '0');
                                                              idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].setAttribute('text-anchor', 'middle');
                                                          }
                                                          if (textalign1 == 'right') {
                                                              idTemplate.getElementsByTagName('text')[0].setAttribute('xml:space', 'preserve1');
                                                              idTemplate.getElementsByTagName('text')[0].style.whiteSpace = 'normal';
                                                              idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].setAttribute('x', width1 / 2);
                                                              idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].setAttribute('text-anchor', 'end');
                                                          }
                                                          idTemplate.getElementsByTagName('text')[0].setAttribute('font-size', originalFontSize);
                                                          do {
                                                              var dd = idTemplate.getElementsByTagName('text')[0].getAttribute('font-size');
                                                              idTemplate.getElementsByTagName('text')[0].setAttribute('font-size', dd - 1);
                                                              var width2 = idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].getBBox().width;
                                                          } while (width2 > width1);
                                                      }
                                                  }
                                                  else {
                                                    idTemplate.style.display = "block";
                                                    var textElement = idTemplate.getElementsByTagName('text')[0];

                                                    var ctm = textElement.parentNode.getCTM();
                                                    ctm.d = 1;
                                                    textElement.parentNode.transform.baseVal.initialize(textElement.parentNode.ownerSVGElement.createSVGTransformFromMatrix(ctm));

                                                    var existingTspans = Array.from(textElement.getElementsByTagName('tspan'));
                                                    var initialX = existingTspans[0].getAttribute('x');
                                                    var initialY = existingTspans[0].getAttribute('y');
                                                    var initialDy = existingTspans[1].getAttribute('y') - existingTspans[0].getAttribute('y');
                                                    var newData = escapeHtml(dataCaspar[idCaspar]);
                                                    var dataSegments = newData.split('CRLF');
                                                    var maxWidth = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('width');
                                                    var maxHeight = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('height');
                        
                                                    function splitTextIntoLines(text, maxWidth) {
                                                        var words = text.split(' ');
                                                        var lines = [];
                                                        var currentLine = '';
                                                        words.forEach(function (word) {
                                                            var testLine = currentLine.length === 0 ? word : currentLine + ' ' + word;
                                                            var testWidth = textElement.getSubStringLength(0, testLine.length);
                        
                                                            if (testWidth > maxWidth) {
                                                                lines.push(currentLine);
                                                                currentLine = word;
                                                            } else {
                                                                currentLine = testLine;
                                                            }
                                                        });
                                                        lines.push(currentLine);
                                                        return lines;
                                                    }
                        
                                                    var tspans = [];
                                                    var previoustxtlines = 0;
                        
                                                    dataSegments.forEach(function (segment, i) {
                                                        if (segment.trim() === '') {
                                                          segment=' ';
                                                        }
                                                        textElement.innerHTML = segment;
                                                        var txtlines = splitTextIntoLines(segment, maxWidth);
                                                        txtlines.forEach(function (line, j) {
                                                            var tspan = document.createElementNS('http://www.w3.org/2000/svg', 'tspan');
                                                            tspan.textContent = line;
                                                            tspan.setAttribute('x', initialX);
                                                            tspan.setAttribute('y', parseInt(initialY) + (parseInt(initialDy) * (previoustxtlines + j)));
                                                            tspans.push(tspan);
                                                        });
                                                        previoustxtlines += txtlines.length;
                                                    });
                                                    textElement.innerHTML = '';
                                                    if (tspans.length === 1) {
                                                        var tspan = document.createElementNS('http://www.w3.org/2000/svg', 'tspan');
                                                        tspan.textContent = ' ';
                                                        tspan.setAttribute('x', initialX);
                                                        tspan.setAttribute('y', parseInt(initialY) + parseInt(initialDy));
                                                        tspans.push(tspan);
                                                    }
                        
                                                    tspans.forEach(function (tspan) {
                                                        textElement.appendChild(tspan);
                                                    });
                                                    var ctm = textElement.parentNode.getCTM();
                                                    ctm.d = (maxHeight / textElement.getBBox().height);
                                                    textElement.parentNode.transform.baseVal.initialize(textElement.parentNode.ownerSVGElement.createSVGTransformFromMatrix(ctm));
                                                  }
                                                  
                                              }
                          
                                              else if (idimage != undefined) {
                                                  idTemplate.getElementsByTagName('image')[0].setAttribute('xlink:href', escapeHtml(dataCaspar[idCaspar]));
                                                  idTemplate.getElementsByTagName('image')[0].setAttribute('preserveAspectRatio', 'none');
                                                  idTemplate.style.display = "block";
                                              }
                                          }
                                      }
                                  }

                                    // Call for a update of data from CasparCG client
                                    function update(str) {
                                        document.body.style.display = "block";
                                        parseCaspar(str);
                                        dataInsert(dataCaspar);
                                    }

                                    // insert data from CasparCg client when activated
                                    function play(str) {
                                        document.body.style.display = "block";
                                        parseCaspar(str);
                                        dataInsert(dataCaspar);
                                    }

                                    function stop() {
                                        document.body.style.display = "none";
                                    }
                                    function updatestring(str1, str2) {
            var idTemplate = document.getElementById(str1);

            const lines = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('lines');
            if (lines === '1') {
                idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].innerHTML = str2;
                idTemplate.style.display = "block";
                if (idTemplate.getElementsByTagName('extraproperty')[0] != undefined) {
                    var textalign1 = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('textalign');
                    var width1 = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('width');
                    var originalFontSize = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('originalfontsize');
                    if (textalign1 == 'center') {
                        idTemplate.getElementsByTagName('text')[0].setAttribute('xml:space', 'preserve1');
                        idTemplate.getElementsByTagName('text')[0].style.whiteSpace = "normal";
                        idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].setAttribute('x', '0');
                        idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].setAttribute('text-anchor', 'middle');
                    }
                    if (textalign1 == 'right') {
                        idTemplate.getElementsByTagName('text')[0].setAttribute('xml:space', 'preserve1');
                        idTemplate.getElementsByTagName('text')[0].style.whiteSpace = 'normal';
                        idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].setAttribute('x', width1 / 2);
                        idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].setAttribute('text-anchor', 'end');
                    }
                    idTemplate.getElementsByTagName('text')[0].setAttribute('font-size', originalFontSize);
                    do {
                        var dd = idTemplate.getElementsByTagName('text')[0].getAttribute('font-size');
                        idTemplate.getElementsByTagName('text')[0].setAttribute('font-size', dd - 1);
                        var width2 = idTemplate.getElementsByTagName('text')[0].getElementsByTagName('tspan')[0].getBBox().width;
                    } while (width2 > width1);
                }
            }
            else {
                idTemplate.style.display = "block";
                var textElement = idTemplate.getElementsByTagName('text')[0];

                var ctm = textElement.parentNode.getCTM();
                ctm.d = 1;
                textElement.parentNode.transform.baseVal.initialize(textElement.parentNode.ownerSVGElement.createSVGTransformFromMatrix(ctm));

                var existingTspans = Array.from(textElement.getElementsByTagName('tspan'));
                var initialX = existingTspans[0].getAttribute('x');
                var initialY = existingTspans[0].getAttribute('y');
                var initialDy = existingTspans[1].getAttribute('y') - existingTspans[0].getAttribute('y');
                var newData = str2;
                var dataSegments = newData.split('CRLF');
                var maxWidth = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('width');
                var maxHeight = idTemplate.getElementsByTagName('extraproperty')[0].getAttribute('height');

                function splitTextIntoLines(text, maxWidth) {
                    var words = text.split(' ');
                    var lines = [];
                    var currentLine = '';
                    words.forEach(function (word) {
                        var testLine = currentLine.length === 0 ? word : currentLine + ' ' + word;
                        var testWidth = textElement.getSubStringLength(0, testLine.length);

                        if (testWidth > maxWidth) {
                            lines.push(currentLine);
                            currentLine = word;
                        } else {
                            currentLine = testLine;
                        }
                    });
                    lines.push(currentLine);
                    return lines;
                }

                var tspans = [];
                var previoustxtlines = 0;

                dataSegments.forEach(function (segment, i) {
                    if (segment.trim() === '') {
                        segment = ' ';
                    }
                    textElement.innerHTML = segment;
                    var txtlines = splitTextIntoLines(segment, maxWidth);
                    txtlines.forEach(function (line, j) {
                        var tspan = document.createElementNS('http://www.w3.org/2000/svg', 'tspan');
                        tspan.textContent = line;
                        tspan.setAttribute('x', initialX);
                        tspan.setAttribute('y', parseInt(initialY) + (parseInt(initialDy) * (previoustxtlines + j)));
                        tspans.push(tspan);
                    });
                    previoustxtlines += txtlines.length;
                });
                textElement.innerHTML = '';
                if (tspans.length === 1) {
                    var tspan = document.createElementNS('http://www.w3.org/2000/svg', 'tspan');
                    tspan.textContent = ' ';
                    tspan.setAttribute('x', initialX);
                    tspan.setAttribute('y', parseInt(initialY) + parseInt(initialDy));
                    tspans.push(tspan);
                }

                tspans.forEach(function (tspan) {
                    textElement.appendChild(tspan);
                });
                var ctm = textElement.parentNode.getCTM();
                ctm.d = (maxHeight / textElement.getBBox().height);
                textElement.parentNode.transform.baseVal.initialize(textElement.parentNode.ownerSVGElement.createSVGTransformFromMatrix(ctm));
            }
         
        }
                                    function updateimage(str1, str2) {
                                        document.getElementById(str1).getElementsByTagName('image')[0].setAttribute('xlink:href', str2);
                                    document.getElementById(str1).getElementsByTagName('image')[0].setAttribute('preserveAspectRatio', 'none');
                                    document.getElementById(str1).style.display = "block";
            }

                                </script>
                                <div> <?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="1920" height="1080" viewBox="0 0 1920 1080" xml:space="preserve">
<desc>Created with Fabric.js 6.6.5</desc>
<defs>
</defs>
<g transform="matrix(1 0 0 1 681.0977 822.9366)" id="rect_744"  >
<filter id="SVGID_17" y="-60.11%" height="220.22%" x="-23.21%" width="146.42000000000002%" >
	<feGaussianBlur in="SourceAlpha" stdDeviation="15"></feGaussianBlur>
	<feOffset dx="0" dy="0" result="oBlur" ></feOffset>
	<feFlood flood-color="rgb(0,0,0)" flood-opacity="1"/>
	<feComposite in2="oBlur" operator="in" />
	<feMerge>
		<feMergeNode></feMergeNode>
		<feMergeNode in="SourceGraphic"></feMergeNode>
	</feMerge>
</filter>
<rect style="stroke: rgb(255,255,255); stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(5,27,125); fill-rule: nonzero; opacity: 0.9;filter: url(#SVGID_17);" vector-effect="non-scaling-stroke"  class="rect_744" x="-467.5" y="-37.400000000000006" rx="10" ry="10" width="935" height="74.80000000000001" />
</g>
<g transform="matrix(1 0 0 1 675.1621 819.8372)" style="filter: url(#SVGID_18);" id="f0"  >
<filter id="SVGID_18" y="-79%" height="258%" x="-23.34%" width="146.68%" >
	<feGaussianBlur in="SourceAlpha" stdDeviation="15"></feGaussianBlur>
	<feOffset dx="0" dy="0" result="oBlur" ></feOffset>
	<feFlood flood-color="rgb(0,0,0)" flood-opacity="1"/>
	<feComposite in2="oBlur" operator="in" />
	<feMerge>
		<feMergeNode></feMergeNode>
		<feMergeNode in="SourceGraphic"></feMergeNode>
	</feMerge>
</filter>
<extraproperty textAlign="left" width="897.6" originalFontSize="45" lines='1' height="50.849999999999994"></extraproperty>
		<text xml:space="preserve" class="f0" font-family="Arial" font-size="45" font-style="normal" font-weight="bold" style="stroke: rgb(0,0,0); stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1; white-space: pre;" ><tspan x="-448.8" y="14.1363" >textbox_440</tspan></text>
</g>
</svg>  </div>
                            </body>
                            <script src="main.js"></script>
                            <script src="main2.js"></script>
                            <script>
                              window.addEventListener('DOMContentLoaded', () => {
                                parseCaspar(null);
                                if (dataCaspar && Object.keys(dataCaspar).length > 0) {
                                  dataInsert(dataCaspar);
                                }
                              });
                            </script>
                        </html>